/*Universal Styles*/

html {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  color: #3f3f3f;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 115%;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
  line-height: 100%;
  padding-bottom: 1.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 2rem;
  text-align: center;
  line-height: 100%;
}

h4 {
  font-size: 1.25rem;
  font-weight: bolder;
  line-height: 100%;
  padding: 0.5rem 0;
}

p {
  line-height: 125%;
  padding-bottom: 0.5rem;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bolder;
}

/*Header*/
header {
  background-color: white;
  height: 4rem;
}

.head {
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem 1rem 1.5rem;
}

.logo {
  display: inline-flex;
  height: 2rem;
  align-items: center;
}

nav {
  justify-content: space-between;
  align-items: center;
}

nav span {
  margin: 1rem;
}

/*Main Banner Section*/

.container {
  display: inline-flex;
  align-items: center;
  background-color: #d3d3d3;
}

.container img, video {
  width: 60%;
  object-fit: contain;
  margin: 2rem 1.5rem;
}

.banner-text {
  flex-direction: column;
  margin: 0 5rem 0 1rem;
}

.banner p {
  line-height: 120%;
  padding-bottom: 1rem;
}

.banner-text button {
  background-color: #3f3f3f;
  color: white;
  font-size: 1rem;
  width: 85%;
  padding: 0.5rem 0 0.5rem 0;
}

/*Information Section*/
.info-section {
  background-color: white;
  align-items: flex-start;
}

.left-col {
  flex-direction: column;
  width: 60%;
  margin-right: 3rem;
}

.left-col img, video {
  width: 100%;
  object-fit: contain;
  margin: 2rem 1.5rem;
}

.left-content {
  width: 100%;
  margin: 0 1.5rem 2rem 1.5rem;

}

.right-col {
  flex-direction: column;
  width: 35%;
  height: 100%;
  padding-top: 1rem;
  border-left: 1px solid #d3d3d3;
}

.item {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #d3d3d3;
  background-color: white;
}

div.item:hover {
  background-color: #d3d3d3;
}

.item img {
  width: 35%;
  height: 100%;
  object-fit: contain;
  margin: 1rem;
  background-color: transparent;
}

.item-text {
  flex-direction: column;
  align-self: center;
  width: 65%;
  background-color: transparent;
}

/*Courses Section*/
.learn {
  background-color: #d3d3d3;
  width: 100%;
}

.courses {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 4.5rem 2rem 4.5rem;
}

.course {
  flex-direction: column;
  margin: 1rem;
  width: 30%;
}

.course-text {
  display: block;
  padding: 1rem;
  background-color: white;
  flex-shrink: 3;
}

.course img {
  width: 100%;
  height: auto;
  flex-shrink: 3;
}

.course-text h6 {
  padding: 0.5rem 0;
}

/*Thesis Exhibit Section*/
.thesis .container {
  background-color: white;
  align-items: flex-start;
}

.exhibit {
  border: none;
}

.exhibit .item {
  border: none;
}

/*Footer Section*/
footer {
  border-top: 1px solid #d3d3d3;
}

.lockup {
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 2rem 1.5rem;
}

.legal {
  display: inline-block;
}
